@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
}

*{
  font-family: 'Tajawal', sans-serif;
  color: #112d4e;
  /* font-weight: bold; */
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin: 0px;
  /* background-color:  #f9f7f7; */
  

 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/* 

================Colors ================

     #f9f7f7  ===> webstie Background 
     #3f72af  ===> primary blue  
     #112d4e  ===> secondary dark blue  
     #dbe2ef  ===> third color  white-blue 

*/


.App {

   min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main{

    flex: 1; /* يخلي الماين يتمدد بين الهيدر والفوتر */

  background-color: #F9F7F7;
  padding-bottom: 50px;
  padding-top: 120px;
}